.icon-neme{
    font-size: 2.5vw;
    letter-spacing: 0.15em;
}

.icon-neme:hover{
    color: #D98236;
    text-shadow: 0 0 5px #D98236,0 0 10px #D98236;
}

.title-contact{
    color: #D98236;
    letter-spacing: 0.15em;
    text-shadow: 0 0 5px #D98236;
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(300px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.nt {
    animation: moveUpAndDown 5s infinite; 
}

@media (min-width: 769px) and (max-width:1280px) {
    .contact-icon{
        justify-content: center;
     }
     .icon-neme{
        font-size: 4.5vw;
    }
}

@media (max-width: 768px) {
    .icon-neme{
        font-size: 6vw;
        letter-spacing:0;
    }
    .contact-icon{
        justify-content: center;
     }
}


